JYKSTORE_PORT=3004
JYKSTORE_APP_NAME=JYKStore
JYKSTORE_API_BASE_URL=http://localhost:3004

DATABASE_URL="postgresql://jykstore:jykstore@localhost:5432/JYKStore?schema=public"
JYKSTORE_DATABASE_URL="postgresql://jykstore:jykstore@localhost:5432/JYKStore?schema=public"
